.long-button {
    min-width: 200px;
}

.area {
    min-width: 290px;
}

.center {
    text-align: center;
}

.inputBlock {
    background-color:beige;
}

.resultBlock {
    background-color:honeydew;
}