body {
    margin: 0;
    overflow: hidden;
}

.long-button {
    min-width: 200px;
}

.area {
    min-width: 365px;
}

.center {
    text-align: center;
    min-height: 40px;
}

.left {
    text-align: left;
    min-height: 40px;
}

.right {
    text-align: right;
    min-height: 40px;
}